<h2>Publications</h2>

<p>
  <a href="#all">All</a>
  {% assign years = site.data.publication | map: "year" | uniq | sort | reverse %}
  {% for y in years %}
    | <a href="#{{ y }}">{{ y }}</a>
  {% endfor %}
</p>

<div id="all">
  {% for y in years %}
    <h3 id="{{ y }}">{{ y }}</h3>
    <ul>
      {% for pub in site.data.publication %}
        {% if pub.year == y %}
          <li>
            {{ pub.author }}<br>
            <em>{{ pub.title }}</em><br>
            <strong>{{ pub.journal }}</strong><br>
            <a href="{{ pub.doi }}" target="_blank">[Abstract]</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
