---
layout: page
permalink: /software/
---

<div class="publications">
  <h1>Software</h1>
  
  <!-- Scholar Link -->
  <p>
    Visit <a href="https://github.com/ChongLab" target="_blank">Zechen Chong Lab Github</a> for full list.
  </p>
  
  <br>

  <!-- Navigation Tags -->
  <p>
    <a href="#all">All</a>
    {% assign tags = site.data.software | map: "tag" %}
    {% for tag in tags %}
      | <a href="#{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </p>
  
  <br>

  <!-- Software List -->
  <div id="all">
    {% for software in site.data.software %}
      <h3 id="{{ software.tag }}">{{ software.name }}</h3>
      <ul>
        <li>
          {{ software.description }}
          <br>
          <p>
            The source code and documentation can be downloaded 
            <a href="{{ software.download2 }}" target="_blank">[here]</a>.
          </p>
        </li>
      </ul>
    {% endfor %}
  </div>
</div>
