<header class="header">
  <!-- Titre du site -->
  <div class="header_title">
    <h1>{{ site.title }}</h1>
    <h4>{{ site.description }}</h4>
  </div>

  <!-- Menu de navigation -->
  <nav class="navigation">
    <ul>
      {%- for _item in site.data.navigation.header -%}
        {%- include snippets/get-nav-url.html path=_item.url -%}
        {%- assign _nav_url = __return -%}
        
        <!-- Check if the current page URL matches the navigation URL -->
        {%- include snippets/get-nav-url.html path=page.url -%}
        {%- assign _page_url = __return -%}
        
        <!-- Apply active class if the current page matches the nav item -->
        <li class="navigation__item{% if _nav_url == _page_url or (page.nav_key and _item.key and page.nav_key == _item.key) %} navigation__item--active{% endif %}">
          <a href="{{ _nav_url }}">{{ _item.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>
